:root {
  --font-color-grey: rgb(95, 95, 95);
  --blue: rgb(18, 52, 109);
  --light-blue: rgb(30, 81, 169);
  --cream: rgb(201, 201, 201);
}

* {
  transition: ease all 1s;
}

body {
  background-color: rgb(23, 23, 23);
  padding: 40px 80px;
  margin: 0;
  color: var(--font-color-grey);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* *vvvvvvvvvvvvvvvvv constant properties vvvvvvvvvvvvvvvvv* */
/* *NAVBAR ICONS* */

nav {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  padding: 0 0 8px 0;
}

.nav-icons {
  display: flex;
  height: 100%;
}

.nav-icons img {
  filter: invert(0.8);
  opacity: 50%;
  width: 40px;
  margin-left: 40px;
}

.font-light {
  color: var(--cream);
  white-space: nowrap;
}

.no-margin {
  margin: 0;
}

.font-light-bar {
  color: #fff;
  font-weight: bold;
  text-align: right;
}

hr {
  border: 0.1px solid var(--blue);
}

p {
  color: var(--font-color-grey);
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

/* *^^^^^^^^^^^^^^^^^ constant properties ^^^^^^^^^^^^^^^^^ */

.main-container {
  background-color: rgb(31, 31, 31);
  padding: 40px;
}

/* *GRID CONTAINER Setup* */
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

/* PROFILE SECTION */

.td-right-align {
  text-align: right;
}

.profile-left {
  display: flex;
  padding-top: 40px;
  align-items: start;
  grid-column: 1 / span 3;
  grid-row: 1 / 2;
}

.profile-left img {
  width: 100px;
  height: 120px;
  opacity: 90%;
  margin-right: 20px;
  border-radius: 2px;
  border: 2px solid rgb(180, 180, 180);
}

.profile-left p {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: sans-serif;
}

.profile-left h3 {
  color: var(--light-blue);
}

.profile-title {
  width: 100%;
}

.profile-right {
  margin: 40px 20px;
  grid-column: 4 / span 2;
  grid-row: 1 / 2;
}

#biography {
  font-weight: 500;
  font-size: 1.1rem;
  grid-column: 1 / span 5;
  grid-row: 2 / span 1;
}

#biography p {
  margin-bottom: 60px;
}

/* **vvvvvvvvvvvvvvvvvvvvvv MAIN HISTORY vvvvvvvvvvvvvvvvvvvvvv** */

.main-history-container {
  margin-top: 40px;
}

.main-history-left {
  display: flex;
  flex-direction: column;
  grid-column: 1 / span 3;
  grid-row: 3 / span 4;
}

/* *vvvvvvvvvvvvvvvvvvvvvv HISTORY vvvvvvvvvvvvvvvvvvvvvv* */

.employment-container {
  width: 90%;
}

.employment-header {
  align-items: center;
  background-color: rgb(53, 53, 53);
  border-radius: 4px;
  display: flex;
  height: 40px;
  margin: 0 0 20px 0;
}

.employment-header:hover {
  color: rgb(100, 100, 255);
  filter: drop-shadow(16px 16px 20px rgb(13, 13, 114));
  transition: ease all 0.3s;
}

.employer {
  display: flex;
  align-items: center;
}

.employer-title {
  width: 100%;
}

.employer-title-row {
  display: flex;
  align-items: center;
  height: 30px;
}

.position-title {
  margin-left: 32px;
  font-size: 13px;
}

.employer img {
  width: 22px;
  margin-right: 14px;
}

.employee {
  flex: 2;
}

.date {
  width: 100%;
  text-align: right;
}

.title-logo {
  background: rgb(11, 18, 42);
  height: 100%;
  border-radius: 4px;
  margin-right: 10px;
}

/* ******************** ASIDE SKILLS Section ******************** */

.programming h2 {
  margin: 0;
}

.skills {
  margin-top: 0;
  width: 100%;
  grid-column: 4 / span 2;
  grid-row: 3 / span 4;
}

.bar-bg {
  width: 100%;
  background-color: var(--font-color-grey);
}

#bar-word {
  background: linear-gradient(
    270deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  width: 90%;
}

#bar-php {
  background: linear-gradient(
    90deg,
    rgba(242, 215, 255, 1) 0%,
    rgba(116, 4, 176, 1) 47%,
    rgba(55, 0, 93, 1) 100%
  );
  width: 80%;
}

#bar-html {
  background: linear-gradient(
    90deg,
    rgba(215, 255, 253, 1) 0%,
    rgba(4, 176, 77, 1) 47%,
    rgb(0, 58, 37) 100%
  );
  width: 93%;
}

#bar-css {
  background: linear-gradient(
    90deg,
    rgba(255, 234, 215, 1) 0%,
    rgb(186, 177, 0) 47%,
    rgb(68, 60, 0) 100%
  );
  width: 80%;
}

#bar-sql {
  background: linear-gradient(
    90deg,
    rgba(255, 234, 215, 1) 0%,
    rgb(186, 22, 0) 47%,
    rgb(79, 13, 0) 100%
  );
  width: 70%;
}

.programming {
  margin-bottom: 40px;
}

/* GRAPHICS Skills */
.graphics {
  margin-bottom: 40px;
}

.graphics li {
  list-style-type: square;
  font-size: large;
}

.graphics li p {
  text-transform: capitalize;
  margin: 0;
}

.graphics #color1 {
  color: rgb(67, 69, 134);
}

.graphics #color2 {
  color: rgb(44, 100, 117);
}

.graphics #color3 {
  color: rgb(51, 116, 65);
}

.graphics #color4 {
  color: rgb(153, 119, 47);
}

.graphics #color5 {
  color: rgb(179, 63, 63);
}

/* LANGUAGES */

.language-list-container ul {
  display: flex;
  padding: 0;
}

.language-list-container li {
  display: flex;
  width: 100%;
  list-style-type: none;
  align-items: center;
  justify-content: flex-end;
  padding-right: 80px;
}

.languages {
  justify-content: left;
}

.dot-fill {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  border: 1px solid transparent;
  margin: 0 2px;
}

.dot-fill.blue {
  background-color: rgb(72, 123, 182);
}
.dot-fill.green {
  background-color: rgb(57, 150, 77);
}
.dot-fill.gold {
  background-color: rgb(134, 139, 50);
}

.dot-fill.empty {
  background-color: #181818;
  border: 1px solid rgb(95, 95, 95);
}

/* vvvvvvvvvvvvvvvvvvvvvvv MEDIA QUERIES vvvvvvvvvvvvvvvvvvvvvvv*/
@media screen and (max-width: 1100px) {
  body {
    background-color: none;
    padding: 30px 20px;
  }

  /* Main History Section */
  .employment-header > * {
    font-size: 1.1rem;
  }

  .employer-title > * {
    font-size: 0.8rem;
  }

  .employer-title-row {
    height: 20px;
    align-items: center;
  }
}

@media screen and (max-width: 800px) {
  body {
    background-color: none;
    padding: 20px 0px;
  }

  #biography p {
    font-size: 0.9rem;
  }

  .graphics li {
    font-size: 0.9rem;
  }

  nav {
    background-color: var(--blue);
    padding: 20px 0;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
  }

  /* Main History Section */

  .employment-header {
    margin-top: 0;
  }

  /* SKILLS SECTION */

  .skills {
    margin-top: 0;
    padding-top: 0;
  }
}

@media screen and (max-width: 700px) {
  /* GRID SETUP */

  .grid-container {
    grid-template-rows: repeat(10, 1fr);
  }
  /* NAV */

  /* PROFILE SECTION */

  .profile-left {
    grid-column: 1 / span 5;
    grid-row: 1 / 2;
  }

  .profile-right {
    grid-column: 1 / span 5;
    grid-row: 2 / 3;
  }

  .profile-left img {
    display: none;
  }

  #biography {
    grid-column: 1 / span 5;
    grid-row: 3 / 4;
  }

  .main-history-left {
    margin: 0;
    grid-column: 1 / span 5;
    grid-row: 4 / span 3;
  }

  .employment-container {
    width: 100%;
  }

  .date {
    font-size: 1rem;
  }

  /* SKILLS SECTION */

  .skills {
    width: 100%;
    font-size: 1rem;
  }

  .skills {
    grid-column: 1 / span 5;
    grid-row: 7 / span 4;
  }

  .graphics ul li p {
    font-size: 1rem;
  }

  .language-list-container ul {
    width: 75%;
    justify-content: space-around;
  }

  .languages p,
  .graphics p {
    font-size: 1.3rem !important;
  }

  .dot-fill {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 500px) {
  /* SKILLS SECTION */

  .dot-fill {
    height: 15px;
    width: 15px;
    margin-right: 5px;
  }
}
