<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- Yuki Uchima          -->
<!-- Class: 2024-RTT-105  -->
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <!-- MySQL Database -->
        <!-- Drop and re-create the database on startup -->
        <property name="hibernate.hbm2ddl.auto"> create-drop </property>


        <!--        Database Connection Settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/{tableName}?createDatabaseIfNotExist=true</property>
        <property name="connection.username">{userName}</property>
        <property name="connection.password">{passWord}</property>

        <!-- MySQL DB dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <!-- print all executed SQL on console -->
<!--        <property name="hibernate.show_sql" >true </property>-->
<!--        <property name="hibernate.format_sql" >true </property>-->

        <!--   Mapping entity file -->
        <mapping class="model.Course"/>
        <mapping class="model.Student"/>

    </session-factory>
</hibernate-configuration>